__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# local data / secrets
.env
data/
*.log
*.log.gz

# postgres volume
pgdata/

.DS_Store
build/
infra/.terraform/
infra/**/*.tfstate*
infra/**/*.tfvars
.terraform/
*.tfstate
*.tfstate.*
